body
{
    background-color: rgb(1, 2, 17);
}
.txt_info
{
    text-align: center;
    color: antiquewhite;
}

.center
{
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}
img
{
  padding-left: 200px;
  padding-right: 200px;

}
.img_holder
{
    padding: 10pt;
}

.yg_card
{
    width: 186px;
    height: 267px;
}

body { font-family: sans-serif; }

.scene {
  width: 100%;
  height: 267px;
  
  perspective: 600px;
  
  
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.card {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 356px;
  color: white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.card__face--back {
  transform: rotateY(180deg);
}


